{% include '../parts/head.html' %}
<body class="light-bg">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main color-bg b-radius">

			<section class="sect__page gutters">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">

					<section class="sect__content">
						<h2 class="w3c">&nbsp;</h2>

						

						<div class="technical__block">
							<div class="row align-vertical-center technical__row">

								<div class="technical__content">
									<h3 class="technical__title">404</h3>
									<p class="technical__text">Извините, такой страницы не сущесвует.<br>Пожалуйста, проверьте правильность ввода адреса страницы или вернитесь на главную.</p>
									<a href="index.html" class="btn btn-accent">На главную</a>
								</div>

								<div class="technical__img">
									<img src="img/about.svg" alt="">
								</div>
							</div>
						</div>

					</section>
					
				</div>
				<!-- //container -->
				

			</section>

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>