{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<!-- SEction promo -->
			<section class="sect__promo  light-bg">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="promo__block light-color">
						<h1 class="title">Общественная организация<br>«Україна Відродження»</h1>
						<p class="subtitle">платформа решения острых общественных вопросов</p>

						<div class="promo__block--btns">
							<a href="#" class="btn btn-light">Нужна помощь</a>
							<a href="#" class="btn btn-light">Проекты</a>
						</div>
					</div>
				</div>
				<!-- //container -->

				{% include '../parts/components/video.html' %}
			</section>
			<!-- //SEction promo -->

			<!-- Section need help -->
			<section class="sect__help gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="row align-vertical-end help__row">
						<h3 class="sect__title--sm"><span>У вас проблема?<br>Мы поможем</span></h3>

						<div class="help__items">
							<!-- Help item -->
							<div class="help__item--wrapper">
								<div class="help__item">
									<h6 class="help__item--title">Юридическая<br>помощь</h6>
									<img src="img/help/1.svg" alt="">
								</div>
							</div>
							<!-- //Help item -->

							<!-- Help item -->
							<div class="help__item--wrapper">
								<div class="help__item">
									<h6 class="help__item--title">Социальная<br>помощь</h6>
									<img src="img/help/2.svg" alt="">
								</div>
							</div>
							<!-- //Help item -->

							<!-- Help item -->
							<div class="help__item--wrapper">
								<div class="help__item">
									<h6 class="help__item--title">Имущество<br>и бизнес</h6>
									<img src="img/help/3.svg" alt="">
								</div>
							</div>
							<!-- //Help item -->

							<!-- Help item -->
							<div class="help__item--wrapper">
								<div class="help__item">
									<h6 class="help__item--title">Экологическая<br>проблема</h6>
									<img src="img/help/4.svg" alt="">
								</div>
							</div>
							<!-- //Help item -->
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section need help -->

			<!-- Section projects -->
			<section class="sect__projects gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="projects__slider--wrapper">
						<div class="projects__slider">
							<div class="swiper-container js-projects-slider">
								<div class="swiper-wrapper">
									<!-- Slide -->
									<div class="swiper-slide">

										<div class="projects__slide ">
											<!-- Card -->
											<div class="card">
												<a href="page-project.html" class="card__thumbnail">
													<span class="card__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
													<img src="img/card-img.jpg" alt="">
												</a>

												<div class="card__content">
													<div class="card__content--header">
														<h4 class="card__title">
															<a href="page-project.html">Название<br>проекта</a>
														</h4>
													</div>

													<div class="card__content--body">

														<p>В данном варианте названия мы объединяем все виды спорта и площадки в одном месте. Приложение Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, iusto?</p>

													</div>


												</div>

												<div class="card__tools">
													<!-- Rating -->
													<div class="card__rating">
														<span class="card__label">Рейтинг:</span>
														<span class="card__rating--value">24</span>
													</div>
													<!-- //Rating -->

													<!-- Like -->
													<a href="#" class="ic__block ic-like">
														<i class="ic">
															{% include '../../img/icons/svg/like.svg' %}
														</i>
													</a>
													<!-- //Like -->

													<!-- Link -->
													<a href="#" class="ic__block ic-link">
														<i class="ic">
															{% include '../../img/icons/svg/arrow_right.svg' %}
														</i>
													</a>
													<!-- //Link -->
												</div>
											</div>
											<!-- //Card -->
										</div>
									</div>
									<!-- //Slide -->

									<!-- Slide -->
									<div class="swiper-slide">
										
										<div class="projects__slide ">
											<!-- Card -->
											<div class="card">
												<a href="page-project.html" class="card__thumbnail">
													<span class="card__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
													<img src="img/card-img.jpg" alt="">
												</a>

												<div class="card__content">
													<div class="card__content--header">
														<h4 class="card__title">
															<a href="page-project.html">Название<br>проекта</a>
														</h4>
													</div>

													<div class="card__content--body">

														<p>В данном варианте названия мы объединяем все виды спорта и площадки в одном месте. Приложение Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, iusto?</p>

													</div>


												</div>

												<div class="card__tools">
													<!-- Rating -->
													<div class="card__rating">
														<span class="card__label">Рейтинг:</span>
														<span class="card__rating--value">24</span>
													</div>
													<!-- //Rating -->

													<!-- Like -->
													<a href="#" class="ic__block ic-like">
														<i class="ic">
															{% include '../../img/icons/svg/like.svg' %}
														</i>
													</a>
													<!-- //Like -->

													<!-- Link -->
													<a href="#" class="ic__block ic-link">
														<i class="ic">
															{% include '../../img/icons/svg/arrow_right.svg' %}
														</i>
													</a>
													<!-- //Link -->
												</div>
											</div>
											<!-- //Card -->
										</div>
									</div>
									<!-- //Slide -->

									<!-- Slide -->
									<div class="swiper-slide">
										
										<div class="projects__slide ">
											<!-- Card -->
											<div class="card">
												<a href="page-project.html" class="card__thumbnail">
													<span class="card__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
													<img src="img/card-img.jpg" alt="">
												</a>

												<div class="card__content">
													<div class="card__content--header">
														<h4 class="card__title">
															<a href="page-project.html">Название<br>проекта</a>
														</h4>
													</div>

													<div class="card__content--body">

														<p>В данном варианте названия мы объединяем все виды спорта и площадки в одном месте. Приложение Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, iusto?</p>

													</div>


												</div>

												<div class="card__tools">
													<!-- Rating -->
													<div class="card__rating">
														<span class="card__label">Рейтинг:</span>
														<span class="card__rating--value">24</span>
													</div>
													<!-- //Rating -->

													<!-- Like -->
													<a href="#" class="ic__block ic-like">
														<i class="ic">
															{% include '../../img/icons/svg/like.svg' %}
														</i>
													</a>
													<!-- //Like -->

													<!-- Link -->
													<a href="#" class="ic__block ic-link">
														<i class="ic">
															{% include '../../img/icons/svg/arrow_right.svg' %}
														</i>
													</a>
													<!-- //Link -->
												</div>
											</div>
											<!-- //Card -->
										</div>
									</div>
									<!-- //Slide -->

									<!-- Slide -->
									<div class="swiper-slide">
										
										<div class="projects__slide ">
											<!-- Card -->
											<div class="card">
												<a href="page-project.html" class="card__thumbnail">
													<span class="card__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
													<img src="img/card-img.jpg" alt="">
												</a>

												<div class="card__content">
													<div class="card__content--header">
														<h4 class="card__title">
															<a href="page-project.html">Название<br>проекта</a>
														</h4>
													</div>

													<div class="card__content--body">

														<p>В данном варианте названия мы объединяем все виды спорта и площадки в одном месте. Приложение Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, iusto?</p>

													</div>


												</div>

												<div class="card__tools">
													<!-- Rating -->
													<div class="card__rating">
														<span class="card__label">Рейтинг:</span>
														<span class="card__rating--value">24</span>
													</div>
													<!-- //Rating -->

													<!-- Like -->
													<a href="#" class="ic__block ic-like">
														<i class="ic">
															{% include '../../img/icons/svg/like.svg' %}
														</i>
													</a>
													<!-- //Like -->

													<!-- Link -->
													<a href="#" class="ic__block ic-link">
														<i class="ic">
															{% include '../../img/icons/svg/arrow_right.svg' %}
														</i>
													</a>
													<!-- //Link -->
												</div>
											</div>
											<!-- //Card -->
										</div>
									</div>
									<!-- //Slide -->

									<!-- Slide -->
									<div class="swiper-slide">
										
										<div class="projects__slide ">
											<!-- Card -->
											<div class="card">
												<a href="page-project.html" class="card__thumbnail">
													<span class="card__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
													<img src="img/card-img.jpg" alt="">
												</a>

												<div class="card__content">
													<div class="card__content--header">
														<h4 class="card__title">
															<a href="page-project.html">Название<br>проекта</a>
														</h4>
													</div>

													<div class="card__content--body">

														<p>В данном варианте названия мы объединяем все виды спорта и площадки в одном месте. Приложение Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, iusto?</p>

													</div>


												</div>

												<div class="card__tools">
													<!-- Rating -->
													<div class="card__rating">
														<span class="card__label">Рейтинг:</span>
														<span class="card__rating--value">24</span>
													</div>
													<!-- //Rating -->

													<!-- Like -->
													<a href="#" class="ic__block ic-like">
														<i class="ic">
															{% include '../../img/icons/svg/like.svg' %}
														</i>
													</a>
													<!-- //Like -->

													<!-- Link -->
													<a href="#" class="ic__block ic-link">
														<i class="ic">
															{% include '../../img/icons/svg/arrow_right.svg' %}
														</i>
													</a>
													<!-- //Link -->
												</div>
											</div>
											<!-- //Card -->
										</div>
									</div>
									<!-- //Slide -->


								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section projects -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>