{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<!-- SEction promo -->
			<section class="sect__promo  light-bg">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="promo__block light-color">
						<h1 class="title">Общественная организация<br>«Україна Відродження»</h1>
						<p class="subtitle">платформа решения острых общественных вопросов</p>

						<div class="promo__block--btns">
							<a href="#" class="btn btn-light">Нужна помощь</a>
							<a href="#" class="btn btn-light">Проекты</a>
						</div>
					</div>
				</div>
				<!-- //container -->

				{% include '../parts/components/video.html' %}
			</section>
			<!-- //SEction promo -->

			<!-- Section need help -->
			<section class="sect__help gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="row align-vertical-end help__row">
						<h3 class="sect__title--sm"><span>У вас проблема?<br>Мы поможем</span></h3>

						<div class="help__items">
							<!-- Help item -->
							<div class="help__item--wrapper">
								<div class="help__item">
									<h6 class="help__item--title">Юридическая<br>помощь</h6>
									<img src="img/help/1.svg" alt="">
								</div>
							</div>
							<!-- //Help item -->

							<!-- Help item -->
							<div class="help__item--wrapper">
								<div class="help__item">
									<h6 class="help__item--title">Социальная<br>помощь</h6>
									<img src="img/help/2.svg" alt="">
								</div>
							</div>
							<!-- //Help item -->

							<!-- Help item -->
							<div class="help__item--wrapper">
								<div class="help__item">
									<h6 class="help__item--title">Имущество<br>и бизнес</h6>
									<img src="img/help/3.svg" alt="">
								</div>
							</div>
							<!-- //Help item -->

							<!-- Help item -->
							<div class="help__item--wrapper">
								<div class="help__item">
									<h6 class="help__item--title">Экологическая<br>проблема</h6>
									<img src="img/help/4.svg" alt="">
								</div>
							</div>
							<!-- //Help item -->
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section need help -->

			<!-- Section projects -->
			<section class="sect__projects">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="projects__slider--wrapper">
						<div class="projects__slider">
							<div class="swiper-container js-projects-slider">
								<div class="swiper-wrapper">
									<!-- Slide -->
									<div class="swiper-slide">

										<div class="projects__slide ">
											<!-- Card -->
											<div class="card">
												<a href="page-project.html" class="card__thumbnail">
													<span class="card__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
													<img src="img/card-img.jpg" alt="">
												</a>

												<div class="card__content">
													<div class="card__content--header">
														<h4 class="card__title">
															<a href="page-project.html">Название<br>проекта</a>
														</h4>
													</div>

													<div class="card__content--body">

														<p>В данном варианте названия мы объединяем все виды спорта и площадки в одном месте. Приложение Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, iusto?</p>

													</div>


												</div>

												<div class="card__tools">
													<!-- Rating -->
													<div class="card__rating">
														<span class="card__label">Рейтинг:</span>
														<span class="card__rating--value">24</span>
													</div>
													<!-- //Rating -->

													<!-- Like -->
													<a href="#" class="ic__block ic-like">
														<i class="ic">
															{% include '../../img/icons/svg/like.svg' %}
														</i>
													</a>
													<!-- //Like -->

													<!-- Link -->
													<a href="#" class="ic__block ic-link">
														<i class="ic">
															{% include '../../img/icons/svg/arrow_right.svg' %}
														</i>
													</a>
													<!-- //Link -->
												</div>
											</div>
											<!-- //Card -->
										</div>
									</div>
									<!-- //Slide -->

									<!-- Slide -->
									<div class="swiper-slide">
										
										<div class="projects__slide ">
											<!-- Card -->
											<div class="card">
												<a href="page-project.html" class="card__thumbnail">
													<span class="card__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
													<img src="img/card-img.jpg" alt="">
												</a>

												<div class="card__content">
													<div class="card__content--header">
														<h4 class="card__title">
															<a href="page-project.html">Название проекта</a>
														</h4>
													</div>

													<div class="card__content--body">

														<p>В данном варианте названия мы объединяем все виды спорта и площадки в одном месте. Приложение Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, iusto?</p>

													</div>


												</div>

												<div class="card__tools">
													<!-- Rating -->
													<div class="card__rating">
														<span class="card__label">Рейтинг:</span>
														<span class="card__rating--value">934</span>
													</div>
													<!-- //Rating -->

													<!-- Like -->
													<a href="#" class="ic__block ic-like is-active">
														<i class="ic">
															{% include '../../img/icons/svg/like.svg' %}
														</i>
													</a>
													<!-- //Like -->

													<!-- Link -->
													<a href="#" class="ic__block ic-link">
														<i class="ic">
															{% include '../../img/icons/svg/arrow_right.svg' %}
														</i>
													</a>
													<!-- //Link -->
												</div>
											</div>
											<!-- //Card -->
										</div>
									</div>
									<!-- //Slide -->

									<!-- Slide -->
									<div class="swiper-slide">
										
										<div class="projects__slide ">
											<!-- Card -->
											<div class="card">
												<a href="page-project.html" class="card__thumbnail">
													<span class="card__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
													<img src="img/card-img.jpg" alt="">
												</a>

												<div class="card__content">
													<div class="card__content--header">
														<h4 class="card__title">
															<a href="page-project.html">Название<br>проекта</a>
														</h4>
													</div>

													<div class="card__content--body">

														<p>В данном варианте названия мы объединяем все виды спорта и площадки в одном месте. Приложение Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, iusto?</p>

													</div>


												</div>

												<div class="card__tools">
													<!-- Rating -->
													<div class="card__rating">
														<span class="card__label">Рейтинг:</span>
														<span class="card__rating--value">24</span>
													</div>
													<!-- //Rating -->

													<!-- Like -->
													<a href="#" class="ic__block ic-like">
														<i class="ic">
															{% include '../../img/icons/svg/like.svg' %}
														</i>
													</a>
													<!-- //Like -->

													<!-- Link -->
													<a href="#" class="ic__block ic-link">
														<i class="ic">
															{% include '../../img/icons/svg/arrow_right.svg' %}
														</i>
													</a>
													<!-- //Link -->
												</div>
											</div>
											<!-- //Card -->
										</div>
									</div>
									<!-- //Slide -->

									<!-- Slide -->
									<div class="swiper-slide">
										
										<div class="projects__slide ">
											<!-- Card -->
											<div class="card">
												<a href="page-project.html" class="card__thumbnail">
													<span class="card__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
													<img src="img/card-img.jpg" alt="">
												</a>

												<div class="card__content">
													<div class="card__content--header">
														<h4 class="card__title">
															<a href="page-project.html">Название<br>проекта</a>
														</h4>
													</div>

													<div class="card__content--body">

														<p>В данном варианте названия мы объединяем все виды спорта и площадки в одном месте. Приложение Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, iusto?</p>

													</div>


												</div>

												<div class="card__tools">
													<!-- Rating -->
													<div class="card__rating">
														<span class="card__label">Рейтинг:</span>
														<span class="card__rating--value">24</span>
													</div>
													<!-- //Rating -->

													<!-- Like -->
													<a href="#" class="ic__block ic-like">
														<i class="ic">
															{% include '../../img/icons/svg/like.svg' %}
														</i>
													</a>
													<!-- //Like -->

													<!-- Link -->
													<a href="#" class="ic__block ic-link">
														<i class="ic">
															{% include '../../img/icons/svg/arrow_right.svg' %}
														</i>
													</a>
													<!-- //Link -->
												</div>
											</div>
											<!-- //Card -->
										</div>
									</div>
									<!-- //Slide -->

									<!-- Slide -->
									<div class="swiper-slide">
										
										<div class="projects__slide ">
											<!-- Card -->
											<div class="card">
												<a href="page-project.html" class="card__thumbnail">
													<span class="card__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
													<img src="img/card-img.jpg" alt="">
												</a>

												<div class="card__content">
													<div class="card__content--header">
														<h4 class="card__title">
															<a href="page-project.html">Название<br>проекта</a>
														</h4>
													</div>

													<div class="card__content--body">

														<p>В данном варианте названия мы объединяем все виды спорта и площадки в одном месте. Приложение Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, iusto?</p>

													</div>


												</div>

												<div class="card__tools">
													<!-- Rating -->
													<div class="card__rating">
														<span class="card__label">Рейтинг:</span>
														<span class="card__rating--value">24</span>
													</div>
													<!-- //Rating -->

													<!-- Like -->
													<a href="#" class="ic__block ic-like">
														<i class="ic">
															{% include '../../img/icons/svg/like.svg' %}
														</i>
													</a>
													<!-- //Like -->

													<!-- Link -->
													<a href="#" class="ic__block ic-link">
														<i class="ic">
															{% include '../../img/icons/svg/arrow_right.svg' %}
														</i>
													</a>
													<!-- //Link -->
												</div>
											</div>
											<!-- //Card -->
										</div>
									</div>
									<!-- //Slide -->


								</div>
							</div>
						</div>

						<div class="projects__slider--controls">
							<div class="slider__controls">
								<button class="btn__arrow btn__arrow--prev js-projects-slider-btn-prev" type="button">
									<i class="btn__arrow--ic">
										{% include '../../img/icons/svg/arrow_left.svg' %}
									</i>
								</button>
								<button class="btn__arrow btn__arrow--next js-projects-slider-btn-next" type="button">
									<i class="btn__arrow--ic">
										{% include '../../img/icons/svg/arrow_right.svg' %}
									</i>
								</button>
							</div>
							
							<!-- Permalink -->
							<a href="page-projects.html" class="permalink">
								<span>Открыть все</span>
								<i class="permalink__ic">
									<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 7.376 11.543" enable-background="new 0 0 7.376 11.543" xml:space="preserve">
										<path d="M7.351,5.96c0.012-0.063,0.025-0.124,0.025-0.188c0-0.064-0.013-0.125-0.025-0.188 C7.339,5.521,7.329,5.461,7.304,5.401C7.279,5.338,7.241,5.284,7.203,5.226C7.177,5.188,7.166,5.144,7.134,5.108 C7.121,5.093,7.101,5.087,7.087,5.072C7.072,5.057,7.065,5.037,7.049,5.023L1.663,0.252C1.25-0.115,0.617-0.077,0.252,0.337 c-0.366,0.414-0.328,1.045,0.085,1.412l4.541,4.023L0.337,9.795c-0.414,0.366-0.452,0.998-0.085,1.411 c0.198,0.223,0.473,0.337,0.749,0.337c0.236,0,0.472-0.083,0.663-0.252L7.049,6.52c0.017-0.015,0.024-0.036,0.039-0.052 c0.014-0.014,0.033-0.019,0.046-0.034c0.031-0.035,0.043-0.08,0.069-0.118c0.038-0.057,0.076-0.112,0.101-0.175 C7.329,6.082,7.339,6.022,7.351,5.96z"/>
									</svg>
								</i>
							</a>
							<!-- //Permalink -->

						</div>
					</div>


					<!-- Projects current -->
					<div class="projects__current--section">
						<div class="projects__current--description">
							<h2 class="sect__title with-decor">
								<span>Проекты в работе</span>
							</h2>

							<div class="sect__subtext">
								<p>В данном варианте названия мы объединяем все виды спорта и площадки в одном месте. Приложение получается вашим с друзьями.</p>
							</div>
							
						</div>

						<div class="projects__current">
							<div class="row align-horisontal-end align-vertical-end projects__current--row">
								<div class="card__wrapper">
									<!-- Card -->
									<div class="card">
										<a href="page-project.html" class="card__thumbnail">
											<span class="card__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
											<img src="img/card-img.jpg" alt="">
										</a>

										<div class="card__content">
											<div class="card__content--header">
												<h4 class="card__title">
													<a href="page-project.html">Название<br>проекта</a>
												</h4>
											</div>

										</div>

										<div class="card__tools">
											<!-- Rating -->
											<div class="card__rating">
												<span class="card__label">Рейтинг:</span>
												<span class="card__rating--value">24</span>
											</div>
											<!-- //Rating -->

											<!-- Like -->
											<a href="#" class="ic__block ic-like is-active">
												<i class="ic">
													{% include '../../img/icons/svg/like.svg' %}
												</i>
											</a>
											<!-- //Like -->

											<!-- Link -->
											<a href="#" class="ic__block ic-link">
												<i class="ic">
													{% include '../../img/icons/svg/arrow_right.svg' %}
												</i>
											</a>
											<!-- //Link -->
										</div>
									</div>
									<!-- //Card -->
								</div>

								<div class="card__wrapper">
									<!-- Card -->
									<div class="card card__lg">
										<a href="page-project.html" class="card__thumbnail">
											<span class="card__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
											<img src="img/card-img.jpg" alt="">
										</a>

										<div class="card__content">
											<div class="card__content--header">
												<h4 class="card__title">
													<a href="page-project.html">Название<br>проекта</a>
												</h4>
											</div>

										</div>

										<div class="card__tools">
											<!-- Rating -->
											<div class="card__rating">
												<span class="card__label">Рейтинг:</span>
												<span class="card__rating--value">24</span>
											</div>
											<!-- //Rating -->

											<!-- Like -->
											<a href="#" class="ic__block ic-like">
												<i class="ic">
													{% include '../../img/icons/svg/like.svg' %}
												</i>
											</a>
											<!-- //Like -->

											<!-- Link -->
											<a href="#" class="ic__block ic-link">
												<i class="ic">
													{% include '../../img/icons/svg/arrow_right.svg' %}
												</i>
											</a>
											<!-- //Link -->
										</div>
									</div>
									<!-- //Card -->
								</div>
							</div>

							<div class="row align-horisontal-start align-vertical-start projects__current--row">
								<div class="card__wrapper">
									<!-- Card -->
									<div class="card">
										<a href="page-project.html" class="card__thumbnail">
											<span class="card__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
											<img src="img/card-img.jpg" alt="">
										</a>

										<div class="card__content">
											<div class="card__content--header">
												<h4 class="card__title">
													<a href="page-project.html">Название<br>проекта</a>
												</h4>
											</div>

										</div>

										<div class="card__tools">
											<!-- Rating -->
											<div class="card__rating">
												<span class="card__label">Рейтинг:</span>
												<span class="card__rating--value">24</span>
											</div>
											<!-- //Rating -->

											<!-- Like -->
											<a href="#" class="ic__block ic-like">
												<i class="ic">
													{% include '../../img/icons/svg/like.svg' %}
												</i>
											</a>
											<!-- //Like -->

											<!-- Link -->
											<a href="#" class="ic__block ic-link">
												<i class="ic">
													{% include '../../img/icons/svg/arrow_right.svg' %}
												</i>
											</a>
											<!-- //Link -->
										</div>
									</div>
									<!-- //Card -->
								</div>

								<div class="card__wrapper">
									<!-- Card -->
									<div class="card">
										<a href="page-project.html" class="card__thumbnail">
											<span class="card__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
											<img src="img/card-img.jpg" alt="">
										</a>

										<div class="card__content">
											<div class="card__content--header">
												<h4 class="card__title">
													<a href="page-project.html">Название<br>проекта</a>
												</h4>
											</div>

										</div>

										<div class="card__tools">
											<!-- Rating -->
											<div class="card__rating">
												<span class="card__label">Рейтинг:</span>
												<span class="card__rating--value">24</span>
											</div>
											<!-- //Rating -->

											<!-- Like -->
											<a href="#" class="ic__block ic-like">
												<i class="ic">
													{% include '../../img/icons/svg/like.svg' %}
												</i>
											</a>
											<!-- //Like -->

											<!-- Link -->
											<a href="#" class="ic__block ic-link">
												<i class="ic">
													{% include '../../img/icons/svg/arrow_right.svg' %}
												</i>
											</a>
											<!-- //Link -->
										</div>
									</div>
									<!-- //Card -->
								</div>

								<div class="card__wrapper">
									<a href="page-projects.html" class="btn btn-accent">Открыть все</a>
								</div>
							</div>
						</div>
					</div>
					<!-- //Projects current -->
				</div>
				<!-- //container -->
			</section>
			<!-- //Section projects -->

			<!-- Section from -->
			<section class="sect__form light-bg gutters">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="form__wrapper">
						<div class="row align-vertical-center align-horisontal-between form__row">
							<div class="form__img">
								<img src="img/form-img.svg" alt="">
							</div>
							<div class="form__block">
								<h4 class="form__title">У вас есть проблема?</h4>
								<p class="form__text">Опишите тезисно вашу ситуацию и заполните<br>контактную форму. Мы свяжемся с вами<br>для обсуждения</p>

								<form class="js-form">
									<div class="row inputs__row row-gutters">
										<div class="input__wrapper">
											<input type="text" class="input js-input" name="name" placeholder="Имя">
										</div>
										<div class="input__wrapper">
											<input type="tel" class="input js-input" name="name" placeholder="Телефон">
										</div>
									</div>
									<!-- //row -->
									<textarea name="message" class="textarea input" placeholder="Тезисное описании проблемы ..."></textarea>

									<div class="row  align-horisontal-start submit__row">
										<button class="btn btn-accent" type="submit">Отправить</button>
										<p class="form__notice">
											<span>Продолжая, вы подтверждаете, что ознакомлены с политикой конфиденциальности</span>
											<span>Мы не передаём информацию<br>3-им лицам</span>
										</p>
									</div>
								</form>
							</div>
						</div>
					</div>

					<!-- Partners -->
					<div class="partners gutter-top">
						<h2 class="partners__title text-center">Партнёры</h2>

						<div class="row partners__row align-horisontal-start align-vertical-center row-gutters">
							<!-- Partner item -->
							<div class="partner__wrapper">
								<div class="partner">
									<img src="img/partners/2.png" alt="">
								</div>
							</div>
							<!-- //Partner item -->

							<!-- Partner item -->
							<div class="partner__wrapper">
								<div class="partner">
									<img src="img/partners/1.png" alt="">
								</div>
							</div>
							<!-- //Partner item -->

							<!-- Partner item -->
							<div class="partner__wrapper">
								<div class="partner">
									<img src="img/partners/2.png" alt="">
								</div>
							</div>
							<!-- //Partner item -->

							<!-- Partner item -->
							<div class="partner__wrapper">
								<div class="partner">
									<img src="img/partners/1.png" alt="">
								</div>
							</div>
							<!-- //Partner item -->

							<!-- Partner item -->
							<div class="partner__wrapper">
								<div class="partner">
									<img src="img/partners/2.png" alt="">
								</div>
							</div>
							<!-- //Partner item -->
						</div>
					</div>
					<!-- //Partners -->
				</div>
				<!-- //container -->
			</section>
			<!-- //Section from -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>