{% include '../parts/head.html' %}
<body class="light-bg">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main color-bg b-radius">

			<section class="sect__page gutter-top-sm gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">

					<!-- Breadcrumbs -->
					<div class="breadcrumbs">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Об организации</span></li>
						</ul>
					</div>
					<!-- //Breadcrumbs -->

					<section class="sect__content">
						<h2 class="w3c">&nbsp;</h2>

						<article class="article__block">
							<div class="row article__block--row">
								<div class="article__block--info article__block--info-about">

									<h1 class="article__block--title sect__title">
										<span class="with-decor"><span>Больше</span></span><br>об организации
									</h1>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic facere incidunt saepe expedita alias delectus laudantium et. A, autem, consequatur.</p>


									<a href="page-projects.html" class="btn btn-accent">Смотреть проекты</a>
								</div>

								<!-- ARticle content -->
								<div class="article__block--content">
									<div class="content">
										<img src="img/article-img.png" alt="">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit dicta beatae <i>quisquam natus! Impedit inventore</i>, facilis est delectus, debitis ex rem harum autem reiciendis maxime voluptate ut rerum, ipsum aut?</p>
										<p>Ad odio earum eaque ipsum asperiores omnis qui incidunt exercitationem <b>aperiam consectetur quasi quidem</b> animi expedita voluptatum dolorem voluptate ducimus cum, quis laudantium iure fuga provident. Ipsam debitis quisquam quibusdam!</p>
										<p>Aliquam tempore adipisci blanditiis laudantium. Animi a <strong>explicabo impedit commodi nesciunt</strong>, sit nobis mollitia provident itaque maxime. Corrupti vero placeat quo consequatur cupiditate facilis consectetur ad dicta autem numquam. Autem?</p>
									</div>

									
								</div>
								<!-- //ARticle content -->
							</div>
						</article>


					</section>
					
				</div>
				<!-- //container -->

			</section>


			<section class="sect__missions gutters light-bg">
				<h2 class="sect__title container"><span class="with-decor"><span>Направления, которые</span></span><br>нуждаются в изменениях</h2>
				<div class="container">

					<div class="row aligh-horisontal-start about-us__missions--row">
						<!-- Mission item -->
						<div class="about-us__mission--wrapper">
							<div class="about-us__mission">
								<div class="about-us__mission--card no-shadow" >
									<h6 class="about-us__mission--title">Бизнес и технологии</h6>
									<img src="img/missions/1-dark.svg" alt="">
								</div>
								<p class="about-us__mission--description">В данном варианте названия мы объединяем все виды спорта и площадки в одном месте.</p>
							</div>
						</div>
						<!-- //Mission item -->

						<!-- Mission item -->
						<div class="about-us__mission--wrapper">
							<div class="about-us__mission">
								<div class="about-us__mission--card no-shadow" >
									<h6 class="about-us__mission--title ">Защита прав<br>и пример</h6>
									<img src="img/missions/2-dark.svg" alt="">
								</div>
								<p class="about-us__mission--description">В данном варианте названия мы объединяем все виды спорта и площадки в одном месте.</p>
							</div>
						</div>
						<!-- //Mission item -->

						<!-- Mission item -->
						<div class="about-us__mission--wrapper">
							<div class="about-us__mission">
								<div class="about-us__mission--card no-shadow" >
									<h6 class="about-us__mission--title ">Экология<br>и среда</h6>
									<img src="img/missions/3-dark.svg" alt="">
								</div>
								<p class="about-us__mission--description">В данном варианте названия мы объединяем все виды спорта и площадки в одном месте.</p>
							</div>
						</div>
						<!-- //Mission item -->

						<!-- Mission item -->
						<div class="about-us__mission--wrapper">
							<div class="about-us__mission">
								<div class="about-us__mission--card no-shadow" >
									<h6 class="about-us__mission--title ">Медицина<br>и образование</h6>
									<img src="img/missions/4-dark.svg" alt="">
								</div>
								<p class="about-us__mission--description">В данном варианте названия мы объединяем все виды спорта и площадки в одном месте.</p>
							</div>
						</div>
						<!-- //Mission item -->
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__description gutters">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="row align-horisontal-end">
						<div class="description__block">
							<div class="content">
								<img src="img/article-img.png" alt="">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit dicta beatae <i>quisquam natus! Impedit inventore</i>, facilis est delectus, debitis ex rem harum autem reiciendis maxime voluptate ut rerum, ipsum aut?</p>
								<p>Ad odio earum eaque ipsum asperiores omnis qui incidunt exercitationem <b>aperiam consectetur quasi quidem</b> animi expedita voluptatum dolorem voluptate ducimus cum, quis laudantium iure fuga provident. Ipsam debitis quisquam quibusdam!</p>
								<p>Aliquam tempore adipisci blanditiis laudantium. Animi a <strong>explicabo impedit commodi nesciunt</strong>, sit nobis mollitia provident itaque maxime. Corrupti vero placeat quo consequatur cupiditate facilis consectetur ad dicta autem numquam. Autem?</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			<!-- Section news -->
			{% include '../parts/sections/news.html' %}
			<!-- //Section news -->

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>