{% include '../parts/head.html' %}
<body class="light-bg">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main color-bg b-radius">

			<section class="sect__page gutter-top-sm gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">

					<!-- Breadcrumbs -->
					<div class="breadcrumbs">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><a href="page-projects.html" class="breadcrumbs__link">Проекты</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Название проекта</span></li>
						</ul>
					</div>
					<!-- //Breadcrumbs -->

					<section class="sect__content">
						<h2 class="w3c">&nbsp;</h2>

						<article class="article__block">
							<div class="row article__block--row">
								<div class="article__block--info">
									<div class="article__category">
										<a href="#" class="btn btn-accent btn-sm btn-no-shadow btn-with-decor">Производство</a>
									</div>

									<h1 class="article__block--title">Длинное название проекта</h1>


									<div class="article__rating--wrapper">
										<div class="article__rating">
											<span class="article__rating--label">Рейтинг:</span>
											<span class="article__rating--value">145</span>
										</div>

										<!-- Like -->
										<a href="#" class="ic__block ic__block--round ic-like">
											<i class="ic">
												{% include '../../img/icons/svg/like.svg' %}
											</i>
										</a>
										<!-- //Like -->
									</div>
								</div>

								<!-- ARticle content -->
								<div class="article__block--content">
									<div class="content">
										<img src="img/article-img.png" alt="">
										<h5>h5</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit dicta beatae <i>quisquam natus! Impedit inventore</i>, facilis est delectus, debitis ex rem harum autem reiciendis maxime voluptate ut rerum, ipsum aut?</p>
										<p>Ad odio earum eaque ipsum asperiores omnis qui incidunt exercitationem <b>aperiam consectetur quasi quidem</b> animi expedita voluptatum dolorem voluptate ducimus cum, quis laudantium iure fuga provident. Ipsam debitis quisquam quibusdam!</p>
										<h6>h6</h6>
										<p>Aliquam tempore adipisci blanditiis laudantium. Animi a <strong>explicabo impedit commodi nesciunt</strong>, sit nobis mollitia provident itaque maxime. Corrupti vero placeat quo consequatur cupiditate facilis consectetur ad dicta autem numquam. Autem?</p>
										<h4>h4</h4>
										<h3>h3</h3>
										<h2>h2</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, autem. <a href="#">Repudiandae, consectetur ducimus alias quod tenetur</a> odio doloribus dolorum facilis ea in est qui, totam asperiores pariatur cumque. Esse, officia, quia. Suscipit laboriosam voluptate praesentium, laborum quo esse accusantium tenetur!</p>

										<ul>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, illo!</li>
											<li>Corrupti in quam illo consequatur sit asperiores labore architecto debitis.</li>
											<li>Iure voluptas, quibusdam suscipit magnam cum! Sed, commodi tenetur et.</li>
											<li>Illo, eos, inventore sint dolor voluptas deserunt. Consequuntur, voluptatibus, quo!</li>
											<li>Ullam deserunt cum consequatur itaque nobis iure labore necessitatibus nisi.</li>
										</ul>

										<img src="img/card-img.jpg" alt="">

										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, autem. Repudiandae, consectetur ducimus alias quod tenetur odio doloribus dolorum facilis ea in est qui, totam asperiores pariatur cumque. Esse, officia, quia. Suscipit laboriosam voluptate praesentium, laborum quo esse accusantium tenetur!</p>

										<ol>
											<li>Lorem ipsum dolor sit amet.</li>
											<li>Libero praesentium consequatur similique. Beatae?</li>
											<li>Atque alias quia suscipit delectus.</li>
											<li>Omnis corrupti, perspiciatis velit laborum!</li>
										</ol>
									</div>
								</div>
								<!-- //ARticle content -->
							</div>
						</article>


					</section>
					
				</div>
				<!-- //container -->

			</section>


			<!-- Section another articles -->
			<section class="sect__another-articles gutters light-bg b-radius">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">


					<div class="sect__title--row row align-vertical-end align-horisontal-between">
						<h6 class="sect__title--xs">Другие проекты:</h6>
						<!-- Permalink -->
						<a href="page-projects.html" class="permalink">
							<span>Открыть все</span>
							<i class="permalink__ic">
								<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 7.376 11.543" enable-background="new 0 0 7.376 11.543" xml:space="preserve">
									<path d="M7.351,5.96c0.012-0.063,0.025-0.124,0.025-0.188c0-0.064-0.013-0.125-0.025-0.188 C7.339,5.521,7.329,5.461,7.304,5.401C7.279,5.338,7.241,5.284,7.203,5.226C7.177,5.188,7.166,5.144,7.134,5.108 C7.121,5.093,7.101,5.087,7.087,5.072C7.072,5.057,7.065,5.037,7.049,5.023L1.663,0.252C1.25-0.115,0.617-0.077,0.252,0.337 c-0.366,0.414-0.328,1.045,0.085,1.412l4.541,4.023L0.337,9.795c-0.414,0.366-0.452,0.998-0.085,1.411 c0.198,0.223,0.473,0.337,0.749,0.337c0.236,0,0.472-0.083,0.663-0.252L7.049,6.52c0.017-0.015,0.024-0.036,0.039-0.052 c0.014-0.014,0.033-0.019,0.046-0.034c0.031-0.035,0.043-0.08,0.069-0.118c0.038-0.057,0.076-0.112,0.101-0.175 C7.329,6.082,7.339,6.022,7.351,5.96z"/>
								</svg>
							</i>
						</a>
						<!-- //Permalink -->
					</div>


					<div class="projects">
						<div class="row projects__row align-horisontal-start">
							{% include '../parts/components/card.html' %}
							{% include '../parts/components/card.html' %}
							{% include '../parts/components/card.html' %}
						</div>
					</div>
				</div>
				<!-- //container -->


			</section>
			<!-- //Section another articles -->

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>