{% include '../parts/head.html' %}
<body class="light-bg">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main color-bg b-radius">

			<section class="sect__page gutter-top-sm gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">

					<!-- Breadcrumbs -->
					<div class="breadcrumbs">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Команда</span></li>
						</ul>
					</div>
					<!-- //Breadcrumbs -->

					<section class="sect__content">
						<h2 class="w3c">&nbsp;</h2>

						<div class="team__wrapper">

							<div class="team-header">
								<div class="row align-vertical-center team-header__row align-horisontal-between">
									<div class="team-header__content">
										<h1 class="sect__title"><span class="with-decor"><span>Команда</span></span><br>профессионалов</h1>
										<p>В данном варианте названия мы объединяем все виды спорта и площадки в одном месте. Приложение получается вашим с друзьями хабом, из которого вы отправитесь на ту или иную спортивную игру. Само слово Хаб сразу закладывает в подсознании человека понимание, что это что то большое и разносторонне. Место, в котором каждый сможет найти свое направление.</p>
									</div>

									<div class="team-header__img">
										<img src="img/team.svg" alt="">
									</div>
								</div>
							</div>


							<div class="team-members">

								<!-- Team member -->
								<div class="team__member--item">

									<div class="team__member--item-photo">
										<img src="img/team.png" alt="">
									</div>


									<div class="team__member--item-description">

										<div class="team__member--item-name team__member--item-col">
											<span class="team__member--item-label">Имя:</span>
											<h5 class="team__member--name team__member--name-no-decor">Григорий<br>Григорьев</h5>
											<p class="team__member--position">Руководитель проекта</p>
										</div>

										<div class="team__member--item-info team__member--item-col">
											<span class="team__member--item-label">Информация:</span>
											<p>В данном варианте названия мы объединяем все виды спорта и площадки в одном месте. Приложение получается вашим с друзьями хабом, из которого вы отправитесь на ту или иную спортивную игру.</p>
										</div>

										<div class="team__member--item-contacts team__member--item-col">
											<span class="team__member--item-label">Контакты:</span>
											{% include '../parts/components/socials.html' %}
										</div>

									</div>

								</div>
								<!-- //	Team member -->

								<!-- Team member -->
								<div class="team__member--item">

									<div class="team__member--item-photo">
										<img src="img/team.png" alt="">
									</div>


									<div class="team__member--item-description">

										<div class="team__member--item-name team__member--item-col">
											<span class="team__member--item-label">Имя:</span>
											<h5 class="team__member--name team__member--name-no-decor">Григорий<br>Григорьев</h5>
											<p class="team__member--position">Руководитель проекта</p>
										</div>

										<div class="team__member--item-info team__member--item-col">
											<span class="team__member--item-label">Информация:</span>
											<p>В данном варианте названия мы объединяем все виды спорта и площадки в одном месте. Приложение получается вашим с друзьями хабом, из которого вы отправитесь на ту или иную спортивную игру.</p>
										</div>

										<div class="team__member--item-contacts team__member--item-col">
											<span class="team__member--item-label">Контакты:</span>
											{% include '../parts/components/socials.html' %}
										</div>

									</div>

								</div>
								<!-- //	Team member -->

								<!-- Team member -->
								<div class="team__member--item">

									<div class="team__member--item-photo">
										<img src="img/team.png" alt="">
									</div>


									<div class="team__member--item-description">

										<div class="team__member--item-name team__member--item-col">
											<span class="team__member--item-label">Имя:</span>
											<h5 class="team__member--name team__member--name-no-decor">Григорий<br>Григорьев</h5>
											<p class="team__member--position">Руководитель проекта</p>
										</div>

										<div class="team__member--item-info team__member--item-col">
											<span class="team__member--item-label">Информация:</span>
											<p>В данном варианте названия мы объединяем все виды спорта и площадки в одном месте. Приложение получается вашим с друзьями хабом, из которого вы отправитесь на ту или иную спортивную игру.</p>
										</div>

										<div class="team__member--item-contacts team__member--item-col">
											<span class="team__member--item-label">Контакты:</span>
											{% include '../parts/components/socials.html' %}
										</div>

									</div>

								</div>
								<!-- //	Team member -->
							</div>
						</div>


					</section>
					
				</div>
				<!-- //container -->
				

			</section>

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>