{% include '../parts/head.html' %}
<body class="light-bg">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main color-bg b-radius">

			<section class="sect__page gutter-top-sm gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">

					<!-- Breadcrumbs -->
					<div class="breadcrumbs">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Контакты</span></li>
						</ul>
					</div>
					<!-- //Breadcrumbs -->

					<section class="sect__content">
						<h1 class="sect__title with-decor"><span>Контакты</span></h1>

			
						<div class="contacts">
							<div class="contacts__block">
								<h6 class="contacts__block--title">Куда приехать?</h6>
								<p>Украина. Киев<br>Ул. Крещатик 12</p>
							</div>
							<div class="contacts__block">
								<h6 class="contacts__block--title">Куда позвонить?</h6>
								<p><a href="tel:+3809999999999">+38 099 999-99-99</a></p>
								<p><a href="tel:+3809999999999">+38 099 999-99-99</a></p>
							</div>
							<div class="contacts__block">
								<h6 class="contacts__block--title">Куда написать?</h6>
								<p><a href="mailto:admin@gmail.com">admin@gmail.com</a></p>
							</div>
						</div>
					</section>
					
				</div>
				<!-- //container -->
				

				<!-- Map -->
				<div class="map__wrapper">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.432469382063!2d30.52347761574083!3d50.45167097947558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce51cbaf5729%3A0x5e32306f1d6d3df2!2z0YPQuy4g0JrRgNC10YnQsNGC0LjQuiwgMTIsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1581244372969!5m2!1sru!2sua"  style="border:0;" allowfullscreen=""></iframe>
				</div>
				<!-- //Map -->
			</section>

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>