<div class="menu__wrapper b-radius js-menu">
	<div class="container">
		<div class="row align-horisontal-between align-vertical-center menu__row">

			<div class="menu__img">
				<img src="img/menu-img.svg" alt="">
			</div>
			<div class="menu">

				<div class="menu__phone menu-block-border">
					<div class="row align-vertical-center align-horisontal-between">
						<a href="tel:+308001232845" class="phone__link">0 800 123 28 45</a>
						<span class="menu__phone--text">Телефон горячей линии</span>
					</div>
					
				</div>
				<div class="menu__tools menu-block-border">
					<div class="row align-vertical-center align-horisontal-between">
						{% include 'langs.html' %}
						{% include 'socials.html' %}
						
					</div>
				</div>
				{% include 'nav.html' %}

				<div class="menu__contacts">
					<div class="menu__contacts--block leaf-decor">
						<p>Украина. Киев<br>Ул. Крещатик 12</p>
					</div>
					<div class="menu__contacts--block leaf-decor">
						<p><a href="tel:+3808001232845">0 800 123 28 45</a></p>
						<p><a href="mailto:work@gmail.com">work@gmail.com</a></p>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>