<nav class="nav">
	<ul class="nav__list">
		<li class="nav__item leaf-decor"><a href="index.html" class="nav__link">Главная</a></li>
		<li class="nav__item leaf-decor"><a href="page-projects.html" class="nav__link ">Выполненные проекты</a></li>
		<li class="nav__item leaf-decor"><a href="#currentProjects" class="nav__link js-smooth-scroll-link">Проекты в работе</a></li>
		<li class="nav__item leaf-decor"><a href="page-about.html" class="nav__link ">Об организации</a></li>
		<li class="nav__item leaf-decor"><a href="page-team.html" class="nav__link">Команда</a></li>
		<li class="nav__item leaf-decor"><a href="page-news.html" class="nav__link">Новости</a></li>
		<li class="nav__item leaf-decor"><a href="page-contacts.html" class="nav__link">Контакты</a></li>
	</ul>
</nav>
