.menu
	color $light-color
	width 250px
	a
		color inherit
		&:hover
			color $text-color
			
	&__img
		flex 1
		text-align center
	&__wrapper
		position absolute
		top 100%
		left 0
		width 100%
		z-index 1
		outline 1px solid red
		height 100vh
		height calc(100vh - 88.53px)
		overflow-y auto
		background-color $accent-color
		padding 80px
		transform translateY(-110%)
		pointer-events none
		transition all .25s ease-in-out
		&.is-opened
			pointer-events auto
			transform translateY(0)
		
	&__contacts
		margin-top 90px
		p
			font 12px $SemiBold
			margin-bottom 5px
			&:last-child
				margin-bottom 0
				
		&--block
			margin-bottom 30px
			&:before
				transform none
				top 5px
			&:last-child
				margin-bottom 0
	
	&-block-border
		display none
		padding-bottom 15px
		margin-bottom 15px
		border-bottom 1px solid rgba(113, 95, 48, .2)
		
		.langs
			margin-right 0
			&__item
				&:after
					background-color $light-color
			&__link
				color rgba(0,0,0, .3)
				&:hover,
				&.is-active
					color $light-color
					
		.socials
			margin-right 0 !important
			&__link
				svg
					fill $light-color
		
	&__phone--text
		font 10px $SemiBold


.nav
	&__item
		display block
		margin-bottom 30px
	
		&:last-child
			margin-bottom 0
	&__link
		display block
		color $light-color
		font 16px $SemiBold