.slider
	&__loader
		position absolute
		fullSize()
		z-index 10
		background-color $light-color
		transition all .15s ease-in-out
		&:before
			pseudo()
			width 30px
			height 30px
			position absolute
			position-center()
			background url('../img/slider-loader.gif') 50% 50% no-repeat / 30px 30px
			
		&.is-loaded
			opacity 0
			visibility hidden
			pointer-events none
			
	&__controls
		width 175px
		display flex
		justify-content space-between
		



.projects
	&__slider
		min-height 371px
		&--wrapper
			border-bottom 1px solid #cccccd
			padding-bottom 80px
			margin-bottom 100px
			position relative
			
		*
			box-sizing border-box
			
		.swiper-slide-active
			.card
				&__content
					&--body
						padding-bottom 25px
						height 124px
				&__tools
					background-color transparent
				&__rating
					
					color $text-color
					.card__label
						color $light-text-color
		
		&--controls
			position absolute
			bottom 80px	
			left 406px
			z-index 1
			display flex
			align-items center
			justify-content flex-start
			
			.permalink
				margin-left 60px
	&__slide
		.card
			width 100%
	// 	// padding 25px
	// 	.card
	// 		&:hover
	// 			.card
	// 				&__content
	// 					&--body
	// 						padding-bottom 25px
	// 						height 124px
	// 				&__tools
	// 					background-color transparent
	// 				&__rating
						
	// 					color $text-color
	// 					.card__label
	// 						color $light-text-color