.slider
	&__loader
		position absolute
		fullSize()
		z-index 10
		background-color $light-color
		transition all .15s ease-in-out
		&:before
			pseudo()
			width 30px
			height 30px
			position absolute
			position-center()
			background url('../img/slider-loader.gif') 50% 50% no-repeat / 30px 30px
			
		&.is-loaded
			opacity 0
			visibility hidden
			pointer-events none
			


.projects
	&__slider
		min-height 371px
		&--wrapper
			border-bottom 1px solid #cccccd
			padding-bottom 80px
			
		*
			box-sizing border-box
			
		.swiper-slide-active
			.card
				&__content
					&--body
						padding-bottom 25px
						height 124px
				&__tools
					background-color transparent
				&__rating
					
					color $text-color
					.card__label
						color $light-text-color
			
	&__slide
		// padding 25px
		.card
			&:hover
				.card
					&__content
						&--body
							padding-bottom 25px
							height 124px
					&__tools
						background-color transparent
					&__rating
						
						color $text-color
						.card__label
							color $light-text-color