<footer class="footer">
	<div class="container">
		<div class="row footer__row align-horisontal-between row-gutters">
			<div class="footer__col">
				<!-- Logo -->
				<a href="index.html" class="logo">
					<img src="img/logo.svg" alt="Общественная организация «Україна Відродження»">
				</a>
				<!-- //Logo -->
			</div>
			<!-- //col -->

			<div class="footer__col">
				<nav class="footer__nav">
					<ul class="footer__nav--list">
						<li class="footer__nav--item"><a href="#home" class="footer__nav--link js-smooth-scroll-link">Главная</a></li>
						<li class="footer__nav--item"><a href="#completedProjects" class="footer__nav--link js-smooth-scroll-link">Выполненные проекты</a></li>
						<li class="footer__nav--item"><a href="#currentProjects" class="footer__nav--link js-smooth-scroll-link">Проекты в работе</a></li>
						<li class="footer__nav--item"><a href="#aboutUs" class="footer__nav--link js-smooth-scroll-link">Об организации</a></li>
						<li class="footer__nav--item"><a href="#team" class="footer__nav--link js-smooth-scroll-link">Команда</a></li>
						<li class="footer__nav--item"><a href="#news" class="footer__nav--link js-smooth-scroll-link">Новости</a></li>
					</ul>
				</nav>
			</div>
			<!-- //col -->

			<div class="footer__col">
				<nav class="footer__nav">
					<ul class="footer__nav--list">
						<li class="footer__nav--item"><a href="page-content.html" class="footer__nav--link">Политика конфиденциальности</a></li>
						<li class="footer__nav--item"><a href="page-content.html" class="footer__nav--link">Правила пользоавния</a></li>
						<li class="footer__nav--item"><a href="page-sitemap.html" class="footer__nav--link">Карта сайта</a></li>
					</ul>
				</nav>
			</div>
			<!-- //col -->

			<div class="footer__col">
				<p class="address">Украина. Киев<br>Ул. Крещатик 12</p>
			</div>
			<!-- //col -->

			<div class="footer__col">
				<div class="footer__contacts">
					<p><a href="tel:+3808001232845">0 800 123 28 45</a></p>
					<p><a href="mailto:work@gmail.com">work@gmail.com</a></p>
				</div>

				{% include '../components/socials.html' %}

				<div class="developed">
					<span class="developed__text">Разработка:</span>
					<a href="https://www.instagram.com/grytsay14/" target="_blank" class="developed__logo">
						<img src="img/grytsay.svg" alt="Grytsay">
					</a>
				</div>
			</div>
			<!-- //col -->

		</div>
	</div>
	<!-- //container -->

</footer>
