<section class="sect__news gutters light-bg" id="news">
	<h2 class="w3c">&nbsp;</h2>

	<div class="container">
		<div class="row news__row">
			<div class="news__col">
				<div class="article__wrapper article__wrapper--lg">
					<article class="article">
						<a href="page-article.html" class="article__thumbnail">
							<span class="article__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
							<img src="img/card-img.jpg" alt="">
						</a>

						<div class="article__information">
							<h4 class="article__title"><a href="page-article.html">Название статьи</a></h4>
							<p class="article__preview">В каталоге товаров на главной сделать две картинки Счетчик<br>Lorem ipsum dolor sit amet.</p>
						</div>
					</article>
				</div>
			</div>

			<div class="news__col">
				<div class="row align-vertical-end align-horisontal-between news-title__row">
					<h2 class="sect__title">Новости</h2>
					<!-- Permalink -->
					<a href="page-news.html" class="permalink">
						<span>Все новости</span>
						<i class="permalink__ic">
							<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 7.376 11.543" enable-background="new 0 0 7.376 11.543" xml:space="preserve">
								<path d="M7.351,5.96c0.012-0.063,0.025-0.124,0.025-0.188c0-0.064-0.013-0.125-0.025-0.188 C7.339,5.521,7.329,5.461,7.304,5.401C7.279,5.338,7.241,5.284,7.203,5.226C7.177,5.188,7.166,5.144,7.134,5.108 C7.121,5.093,7.101,5.087,7.087,5.072C7.072,5.057,7.065,5.037,7.049,5.023L1.663,0.252C1.25-0.115,0.617-0.077,0.252,0.337 c-0.366,0.414-0.328,1.045,0.085,1.412l4.541,4.023L0.337,9.795c-0.414,0.366-0.452,0.998-0.085,1.411 c0.198,0.223,0.473,0.337,0.749,0.337c0.236,0,0.472-0.083,0.663-0.252L7.049,6.52c0.017-0.015,0.024-0.036,0.039-0.052 c0.014-0.014,0.033-0.019,0.046-0.034c0.031-0.035,0.043-0.08,0.069-0.118c0.038-0.057,0.076-0.112,0.101-0.175 C7.329,6.082,7.339,6.022,7.351,5.96z"/>
							</svg>
						</i>
					</a>
					<!-- //Permalink -->
				</div>

				
				<!-- Article -->
				<div class="article__wrapper">
					<article class="article article-rotate">
						<div class="row article__row">
							<a href="page-article.html" class="article__thumbnail">
								<span class="article__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
								<img src="img/card-img.jpg" alt="">
							</a>

							<div class="article__content--col">
								<div class="article__content">
									<h4 class="article__title"><a href="page-article.html">Длинное Название<br>статьи статьи статьи</a></h4>
									<p class="article__preview">В каталоге товаров на главной сделать две картинки Счетчик</p>
									<!-- Permalink -->
									<a href="page-article.html" class="permalink">
										<span>Открыть новость</span>
										<i class="permalink__ic">
											<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 7.376 11.543" enable-background="new 0 0 7.376 11.543" xml:space="preserve">
												<path d="M7.351,5.96c0.012-0.063,0.025-0.124,0.025-0.188c0-0.064-0.013-0.125-0.025-0.188 C7.339,5.521,7.329,5.461,7.304,5.401C7.279,5.338,7.241,5.284,7.203,5.226C7.177,5.188,7.166,5.144,7.134,5.108 C7.121,5.093,7.101,5.087,7.087,5.072C7.072,5.057,7.065,5.037,7.049,5.023L1.663,0.252C1.25-0.115,0.617-0.077,0.252,0.337 c-0.366,0.414-0.328,1.045,0.085,1.412l4.541,4.023L0.337,9.795c-0.414,0.366-0.452,0.998-0.085,1.411 c0.198,0.223,0.473,0.337,0.749,0.337c0.236,0,0.472-0.083,0.663-0.252L7.049,6.52c0.017-0.015,0.024-0.036,0.039-0.052 c0.014-0.014,0.033-0.019,0.046-0.034c0.031-0.035,0.043-0.08,0.069-0.118c0.038-0.057,0.076-0.112,0.101-0.175 C7.329,6.082,7.339,6.022,7.351,5.96z"/>
											</svg>
										</i>
									</a>
									<!-- //Permalink -->
								</div>
							</div>
						</div>
					</article>
				</div>
				<!-- //Article -->

				<!-- Article -->
				<div class="article__wrapper">
					<article class="article article-rotate">
						<div class="row article__row">
							<a href="page-article.html" class="article__thumbnail">
								<span class="article__thumbnail--bg bg" style="background-image: url('img/card-img.jpg');"></span>
								<img src="img/card-img.jpg" alt="">
							</a>

							<div class="article__content--col">
								<div class="article__content">
									<h4 class="article__title"><a href="page-article.html">Название<br>статьи</a></h4>
									<p class="article__preview">В каталоге товаров на главной сделать две картинки Счетчик</p>
									<!-- Permalink -->
									<a href="page-article.html" class="permalink">
										<span>Открыть новость</span>
										<i class="permalink__ic">
											<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 7.376 11.543" enable-background="new 0 0 7.376 11.543" xml:space="preserve">
												<path d="M7.351,5.96c0.012-0.063,0.025-0.124,0.025-0.188c0-0.064-0.013-0.125-0.025-0.188 C7.339,5.521,7.329,5.461,7.304,5.401C7.279,5.338,7.241,5.284,7.203,5.226C7.177,5.188,7.166,5.144,7.134,5.108 C7.121,5.093,7.101,5.087,7.087,5.072C7.072,5.057,7.065,5.037,7.049,5.023L1.663,0.252C1.25-0.115,0.617-0.077,0.252,0.337 c-0.366,0.414-0.328,1.045,0.085,1.412l4.541,4.023L0.337,9.795c-0.414,0.366-0.452,0.998-0.085,1.411 c0.198,0.223,0.473,0.337,0.749,0.337c0.236,0,0.472-0.083,0.663-0.252L7.049,6.52c0.017-0.015,0.024-0.036,0.039-0.052 c0.014-0.014,0.033-0.019,0.046-0.034c0.031-0.035,0.043-0.08,0.069-0.118c0.038-0.057,0.076-0.112,0.101-0.175 C7.329,6.082,7.339,6.022,7.351,5.96z"/>
											</svg>
										</i>
									</a>
									<!-- //Permalink -->
								</div>
							</div>
						</div>
					</article>
				</div>
				<!-- //Article -->
			</div>

		</div>
	</div>
	<!-- //container -->
</section>