// ========== ========== G L O B A L   S T Y L E S ========== ==========
html
	text-size-adjust none
	box-sizing border-box
	&.is-fixed
		overflow hidden
	
*
	padding 0
	margin 0
	box-sizing inherit
	&:after,
	&:before
		box-sizing inherit


body
	font 16px $Reg
	line-height 1.45
	overflow-x hidden
	min-width 320px
	height 100%
	opacity 1
	position relative
	color $text-color
	background-color $body-bg

h1,h2,h3,h4,h5,h6,ul,li
	margin 0
	padding 0

input,
textarea
	outline none
	background transparent
	border none
	box-shadow none
	transition all .17s ease-in-out
	&:focus
		outline none
		
textarea
	resize vertical
	width 100%
	
select
	appearance none
	-webkit-appearance none
	-moz-appearance none
	transition all .17s ease-in-out
	cursor pointer
	&:focus
		outline none

a
	text-decoration none
	outline none
	transition all .17s ease-in-out
	&:hover
		text-decoration none
		
button
	box-shadow none
	border none
	outline none
	cursor pointer
	transition all .17s ease-in-out
	background transparent
	&:focus
		outline none

img
	max-width 100%
	height auto
	

// ========== ========== ========== ========== ========== ==========

// ========== ========== M A I N   S T Y L E S ========== ==========

.disable-hover,
.disable-hover * 
	pointer-events none !important

.clearfix:before,
.clearfix:after
	content " "
	display table

.clearfix:after
	clear both

.gutters
	padding $gutters
.gutter
	&-top
		padding-top $gutter-top
	&-bottom
		padding-bottom $gutter-bottom
	
.w3c
	visibility hidden
	display none
	
.content__wrapper
	overflow hidden
	width 100%
	height 100%
	
.sect
	&__title
		font 38px $Bold
		margin-bottom 40px
		span
			display inline-block
			position relative
			
		&--sm
			font 20px $Med
			color #3b3b3b
			span
				display inline-block
				padding-bottom 30px
				padding-left 5px
				position relative
				&:before
					position absolute
					pseudo()
					bottom 0
					left 0
					border-radius 30px
					background-color $accent-color
					height 6px
					width 50px
			
		&.with-decor
			span
				&:after
					pseudo()
					position absolute
					left 100%
					vertical-center()
					margin-left 30px
					width 62.141px
					height 14.3px
					background url('../img/decor/leafs.svg') 50% 50% no-repeat
					
			&-top
				span
					padding-top 55px
					&:after
						transform none
						top 0
						left 0
						margin-left 0
					
		


.text-center
	text-align center
	
.text-left
	text-align left
	
.text-right
	text-align right
	
.light-color
	color $light-color
	
.light-text-color
	color $light-text-color

.dark-color
	color $dark-color
	
.accent-color
	color $accent-color
	
.content-img
	display block
	margin 0 auto
	max-width 100%
	max-height 100%
	width auto
	height auto
	
.bg
	bg(50%, 50%)
	
.bg-with-overlay
	position relative
	bg(50%, 50%)
	overflow hidden
	&:before
		pseudo()
		position absolute
		fullSize()
		background-color rgba($bg-overlay-color, $bg-overlay-opacity)
		z-index 2
	.container
		position relative
		z-index 3
		
.dark-bg
	background-color $dark-bg
	
.light-bg
	background-color $light-bg
	

// ========== ========== ========== ========== ========== ==========