//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('Montserrat-Light', 'Montserrat', 'Montserrat-Light', true, normal, normal)
webfont('Montserrat-Italic', 'Montserrat', 'Montserrat-Italic', true, normal, normal)
webfont('Montserrat-Regular', 'Montserrat', 'Montserrat-Regular', true, normal, normal)
webfont('Montserrat-Medium', 'Montserrat', 'Montserrat-Medium', true, normal, normal)
webfont('Montserrat-SemiBold', 'Montserrat', 'Montserrat-SemiBold', true, normal, normal)
webfont('Montserrat-Bold', 'Montserrat', 'Montserrat-Bold', true, normal, normal)
webfont('Montserrat-Black', 'Montserrat', 'Montserrat-Black', true, normal, normal)
