//  Fonts 
$Italic = 'Montserrat-Italic', Arial, sans-serif
$Light = 'Montserrat-Light', Arial, sans-serif
$Reg = 'Montserrat-Regular', Arial, sans-serif
$Med = 'Montserrat-Medium', Arial, sans-serif
$SemiBold = 'Montserrat-SemiBold', Arial, sans-serif
$Bold = 'Montserrat-Bold', Arial, sans-serif
$Black = 'Montserrat-Black', Arial, sans-serif
// ========== ========== ========== ========== ==========

// Sizes
$container-width = 1200px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 15px

$gutters = 115px 0
$gutter-top = 115px
$gutter-bottom = 115px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #e3bf61
$secondary-color = #a4ba82
$text-color = #2b2e22
$light-text-color = rgba(47, 48, 45, .3)

$light-color = #fff
$dark-color = #000

$input-bg = #f5f5f5

$article-border-color = #f1f1f1
$article-preview-color = #b0b0b0
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #f3f3f5
$header-bg = #fff
$footer-bg = #ebebeb

$dark-bg = #090909
$light-bg = #fff

$bg-overlay-color = #000
$bg-overlay-opacity = .2
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========