.technical
	&__content
		flex none
		width 460px
		padding-right 50px
		text-align center
		
	&__title
		line-height 1
		font 160px $Bold
		margin-bottom 20px
		&--sm
			font-size 80px
		
	&__text
		font 16px $Bold
		margin-bottom 50px
		
	&__img
		flex 1
		