.permalink__wrapper
	margin-top 55px
	

.articles
	&__date
		color $light-text-color
		font 20px $Bold
		margin-bottom 20px
		
	&__block
		margin-bottom 80px
		&:last-child
			margin-bottom 0
			
	&__row
		margin-left -55px
		margin-right -55px