// Media queris mixins add there
@import '../../node_modules/stylus-media-queries/index.styl'
/* -------Screen sizes----------- 
+screen(minWidth, maxWidth)
+max-screen(maxWidth)
+min-screen(minWidth)
+screen-height(minHeight, maxHeight)
+max-screen-height(maxHeight)
+min-screen-height(minHeight)
*/

+max-screen(1200px)
	// Homepage
	.help
		&__row 
			
			.sect__title--sm
				margin-right 30px
		&__items
			margin-left -15px
			margin-right -15px
		&__item
			&--wrapper
				padding 0 15px
				

+max-screen(1100px)
	// Homepage
	.projects__slider--controls
		left auto
		right 0
		
	.about-us__mission
		&--card
			margin-bottom 20px
		&--wrapper
			width 50%
			padding 20px
				
+max-screen(1000px)
	.header
		&__row
			flex-direction column
		&__tools
			margin-top 15px
			width 100%
			&--row
				justify-content space-between
				
	// Homepage
	.sect__help
		margin-top 0
		padding-top 40px
		
	.help
		&__row
			flex-wrap wrap
			
			.sect__title--sm
				width 100%
				margin-right 0
				margin-bottom 25px
				

	.form
		&__row
			flex-wrap wrap
		&__block
			order 1
			width 100%
		&__img
			width 100%
			flex none
			margin-right 0
			margin-top 40px
			order 2
			

	.partner__wrapper
		width 33.3333%
		
	.about-us
		&__row
			flex-wrap wrap
			margin-bottom 80px
		&__content
			max-width 100%
			margin-right 0
			padding-top 0
			margin-top 50px
			order 2
		&__img
			flex none
			width 100%
			order 1
			
		&__missions
			margin-top 0
			

	.team__member--wrapper
		width 33.3333%
				
+max-screen(767px)
	.header
		display none
		
	// Homepage
	.title
		font-size 48px
	
	.slider__controls
		width 150px	
	.projects__slider--controls 
		.permalink
			margin-left 20px
			

	.team__member--wrapper
		width 50%
		
+max-screen(700px)

	.gutters
		padding 70px 0
		
	.gutter
		&-top
			padding-top 70px
		&-bottom
			padding-bottom 70px
			
	.sect__title
		font-size 26px
		margin-bottom 30px
	// Homepage
	.title
		font-size 32px
	
	.subtitle
		font-size 20px
		margin-bottom 45px
		
	.help__items
		flex-wrap wrap
		margin-left -7.5px
		margin-right -7.5px
	.help__item--wrapper
		width 50%
		padding 7.5px
		
	.projects__slider--wrapper
		margin-bottom 70px
		
+max-screen(640px)
	// Homepage
	.projects__slider--controls 
		position relative
		right auto
		bottom auto
		margin-top 40px
		justify-content center
		

	.partner__wrapper
		width 50%
			
+max-screen(520px)
	// Homepage
	.promo__block--btns
		display flex
		flex-direction column
		.btn
			margin-right 0
			margin-bottom 25px
			&:last-child
				margin-bottom 0
	
	.inputs__row 
		margin-bottom 7.5px
		margin-left -7.5px
		margin-right -7.5px
		.input__wrapper
			width 100%
	.input__wrapper
		padding 7.5px !important		
		
	.submit__row
		flex-direction column
		margin-top 20px
		
	.form__notice
		width 100%
		margin-left 0
		margin-top 30px
		

	.about-us
		&__missions
			margin-bottom 50px
		&__mission
			&--wrapper
				width 100%
			

	.team__member--wrapper
		width 100%
		
			

+max-screen(400px)
	// Homepage
	.help
		&__item
			padding 10px 15px
			font-size 12px
	


	.title
		font-size 30px
		
	.subtitle
		font-size 18px
		margin-bottom 40px
		
	.btn
		width 100%
		
	.projects__slider 
		.swiper-slide-active 
			.card__content--body
				font-size 11px