.header
	background-color $header-bg
	padding 13px 0
	
	.socials
		margin-right 55px
		

.phone
	margin-right 55px
	&__text
		display inline-block
		vertical-align middle
		margin-right 25px
		font-family $SemiBold
	&__link
		display inline-block
		vertical-align middle
		font 14px $SemiBold
		color $text-color
		&:hover
			color $accent-color